/* inter-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
/* inter-100 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 100;
  src: url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-100.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-100.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-100.woff2") format("woff2"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-100.woff") format("woff"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-100.ttf") format("truetype"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-100.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-200 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 200;
  src: url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-200.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-200.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-200.woff2") format("woff2"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-200.woff") format("woff"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-200.ttf") format("truetype"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-200.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-300 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff2") format("woff2"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.woff") format("woff"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.ttf") format("truetype"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-300.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-regular - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2") format("woff2"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff") format("woff"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf") format("truetype"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-regular.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-500 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff2") format("woff2"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.woff") format("woff"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.ttf") format("truetype"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-500.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-600 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.woff2") format("woff2"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.woff") format("woff"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.ttf") format("truetype"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-600.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-700 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff2") format("woff2"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.woff") format("woff"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.ttf") format("truetype"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-700.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-800 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-800.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-800.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-800.woff2") format("woff2"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-800.woff") format("woff"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-800.ttf") format("truetype"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-800.svg#Inter") format("svg"); /* Legacy iOS */
}
/* inter-900 - vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 900;
  src: url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.eot"); /* IE9 Compat Modes */
  src: local(""), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.eot?#iefix") format("embedded-opentype"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.woff2") format("woff2"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.woff") format("woff"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.ttf") format("truetype"), url("../fonts/inter-v12-vietnamese_latin-ext_latin_greek-ext_greek_cyrillic-ext_cyrillic-900.svg#Inter") format("svg"); /* Legacy iOS */
}
/* html, body {
  font-family: 'Inter', sans-serif;
  color: var(--black-90);
} */
body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  color: var(--black-90);
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1320px;
  margin: 0 auto;
}

.row {
  display: flex;
}

header {
  border-bottom: 1px solid #EDEFF2;
}
header .row {
  align-items: center;
}
header > .container > .row {
  min-height: 88px;
  background: #FFFFFF;
}
header > .container > .row > .col:nth-child(1) {
  flex: 0 1 165px;
}
header > .container > .row > .col:nth-child(2) {
  flex: 0 1 105px;
  max-width: 105px;
}
header > .container > .row > .col:nth-child(3) {
  flex: 1 1 40%;
  padding-left: 85px;
}
header > .container > .row > .col:nth-child(4) {
  flex: 0 1 120px;
}
header .map-city {
  background: #F0F5FF;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 94px;
  height: 33px;
  margin-left: 35px;
  margin-right: 76px;
}
header .map-city p {
  color: #336FEE;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  padding-left: 9px;
  padding-right: 2px;
}
header nav a {
  font-style: normal;
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: #333844;
  padding: 0 24px;
}
header .signin {
  background: #F0F5FF;
  width: 106px;
  height: 40px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
header .signin p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  color: #336FEE;
  padding-right: 9px;
}
header #background {
  width: 100%;
  height: 0;
  background-color: rgba(0, 0, 0, 0.3);
  position: absolute;
  transition: all 0.45s ease;
  z-index: 999;
  height: 100%;
  border-top: 1px solid #EDEFF2;
}
header #background.expand {
  height: 100%;
}
header #dropDown .container {
  padding-top: 28px;
  padding-bottom: 24px;
  background-color: white;
}
header #dropDown .menu {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
header #dropDown .menu a {
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #333844;
  padding: 12px 0;
}

.slider {
  border-radius: 0 0 30px 30px;
  background: url(/img/slider1.png) no-repeat right center, linear-gradient(180deg, rgba(251, 251, 253, 0) 0%, #FBFBFD 100%);
}
.slider .container {
  height: 560px;
  display: flex;
  align-items: center;
}
.slider .row {
  flex-direction: column;
}
.slider h1 {
  font-weight: 500;
  font-size: 44px;
  line-height: 56px;
  color: #333844;
  margin-bottom: 40px;
}
.slider .search .container-1 {
  width: 541px;
  height: 56px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
  border-radius: 12px;
  background: #FFFFFF;
  border: 1px solid #EDEFF2;
}
.slider .search .container-1 .icon {
  position: absolute;
  margin-left: 16px;
  margin-top: 16px;
  z-index: 1;
}
.slider .search .container-1 input#search {
  width: 100%;
  height: 54px;
  border: none;
  float: left;
  padding-left: 52px;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #818798;
}
.slider .search .container-1 input#search::-webkit-input-placeholder {
  color: #65737e;
}
.slider .search .container-1 input#search:-ms-input-placeholder {
  color: #65737e;
}

.services {
  padding: 80px 0;
}
.services > .container > .row > .col:nth-child(1) {
  flex: 0 1 66.29%;
}
.services > .container > .row > .col:nth-child(2) {
  flex: 0 1 33.71%;
  min-width: 33.71%;
  padding-left: 16px;
}
.services > .container > .row > .col:nth-child(2) .accordion {
  all: unset;
  width: 100%;
  text-align: left;
}
.services > .container > .row > .col > .row > .service-card {
  margin-bottom: 16px;
}
.services > .container > .row > .col > .row {
  flex-wrap: wrap;
  margin: 0 -8px;
}
.services > .container > .row > .col > .service-card {
  margin: 0;
}
.services > .container > .row > .col > .col > .service-card {
  margin: 0;
  padding-bottom: 50px;
}
.services h2 {
  color: #333844;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  padding-bottom: 24px;
}
.services .service-card {
  background: #F9FAFB;
  border-radius: 12px;
  padding: 24px;
  margin: 0px 8px;
  flex-basis: calc(50% - 16px);
}
.services .service-card .title {
  display: flex;
  align-items: center;
  padding-bottom: 8px;
}
.services .service-card .title h3 {
  color: #333844;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 26px;
  padding-left: 16px;
}
.services .service-card p {
  color: #818798;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}
.services .another-services .row {
  flex-direction: column;
}
.services .another-services .service-card {
  padding: 32px 16px 24px 16px;
}
.services .another-services .another-services-item {
  display: flex;
  padding: 12px 16px;
}
.services .another-services .another-services-item:hover {
  background-color: #F3F4F6;
  border-radius: 8px;
  border: unset !important;
}
.services .another-services .another-services-item h3 {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #333844;
  padding-left: 16px;
}
.services .faq {
  padding-top: 80px;
  max-width: 66.29%;
  /* Style the buttons that are used to open and close the accordion panel */
}
.services .faq .accordion {
  border-radius: 12px;
  color: #333844;
  cursor: pointer;
  padding: 24px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  transition: 0.4s;
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  background-color: unset;
}
.services .faq .accordion:after {
  float: right;
  margin-left: 0px;
  content: "";
  display: block;
  background: url(/img/icons/CaretDown.png) no-repeat;
  width: 24px;
  height: 24px;
}
.services .faq .active:after {
  background: url(/img/icons/CaretUp.png) no-repeat;
}
.services .faq .accordion-item {
  border-radius: 12px;
  background-color: #FAFBFD;
  margin-bottom: 8px;
}
.services .faq .accordion-item:hover {
  background-color: #ccc;
}
.services .faq .accordion-item:active, .services .faq .accordion-item:focus, .services .faq .accordion-item:target {
  background-color: #FAFBFD;
}
.services .faq .panel {
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding: 0 24px;
  color: #333844;
  max-height: 0;
  overflow: hidden;
  transition: all 0.2s ease-out;
}
.services .faq .panel p {
  padding-bottom: 24px;
}
.services .faq .panel.active {
  max-height: 800px !important;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

footer {
  background-color: #333844;
  padding: 32px 0;
}
footer a {
  color: white;
}
footer nav {
  padding-bottom: 24px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  width: 100%;
  margin-bottom: 24px;
}
footer nav a {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  margin-right: 24px;
}
footer .copyright a {
  margin-right: 24px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.mobile {
  display: none;
}

@media (max-width: 1350px) {
  .container {
    padding: 0 32px;
  }
  .slider {
    background: url(/img/slider1-mobile.png) no-repeat right center, linear-gradient(180deg, rgba(251, 251, 253, 0) 0%, #FBFBFD 100%);
  }
}
@media (max-width: 1024px) {
  header > .container > .row > .col:nth-child(3) {
    padding-left: 40px;
  }
  .services .faq {
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .computer {
    display: none !important;
  }
  .mobile {
    display: block;
  }
  h2 {
    font-style: normal !important;
    font-weight: 500 !important;
    font-size: 26px !important;
    line-height: 32px !important;
  }
  h3 {
    font-weight: 600 !important;
    font-size: 18px !important;
    line-height: 24px !important;
  }
  header > .container > .row {
    min-height: 72px;
  }
  header .logo {
    width: 129px;
  }
  header .mobile-toggle {
    text-align: right;
    cursor: pointer;
  }
  header .mobile-toggle img {
    vertical-align: middle;
  }
  .slider {
    background: linear-gradient(180deg, rgba(251, 251, 253, 0) 0%, #FBFBFD 100%);
    border-radius: 0;
  }
  .slider .container {
    height: auto;
    padding: 80px 32px;
    text-align: center;
    justify-content: center;
  }
  .slider .search .container-1 {
    text-align: left;
    width: 464px;
  }
  .services > .container > .row {
    flex-direction: column;
  }
  .services > .container > .row > .col:nth-child(2) {
    padding-left: 0;
    padding-top: 16px;
  }
  .services > .container > .row > .col:nth-child(2) br {
    display: none;
  }
  .services > .container > .row > .col:nth-child(2) .service-card {
    padding: 24px 24px 24px 8px;
  }
  .services > .container > .row > .col:nth-child(2) .title {
    flex-direction: column;
    align-items: start;
    padding: 0;
  }
  .services > .container > .row > .col:nth-child(2) .accordion {
    all: unset;
    width: 100%;
    text-align: left;
    box-sizing: border-box;
    position: relative;
  }
  .services > .container > .row > .col:nth-child(2) .accordion:after {
    position: absolute;
    right: 0;
    top: 0;
    float: right;
    margin-left: 0;
    content: "";
    display: block;
    background: url(/img/icons/CaretDown.png) no-repeat;
    width: 24px;
    height: 24px;
  }
  .services > .container > .row > .col:nth-child(2) .active:after {
    background: url(/img/icons/CaretUp.png) no-repeat;
  }
  .services > .container > .row > .col:nth-child(2) .row.panel.mobile.active {
    max-height: 800px !important;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    padding-top: 16px;
  }
  .services > .container > .row > .col:nth-child(2) .panel {
    max-height: 0 !important;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
    width: 100%;
    padding: 0 14px;
  }
  .services > .container > .row > .col:nth-child(2) .panel h3 {
    font-weight: 500 !important;
    font-size: 16px !important;
    line-height: 24px !important;
  }
  .services > .container > .row > .col:nth-child(2) .panel .another-services-item {
    padding: 12px 0;
  }
  .services > .container > .row > .col:nth-child(2) .panel .another-services-item:not(:first-child):not(:last-child) {
    width: 100%;
    border-top: 1px solid #EDEFF2;
    border-bottom: 0.5px solid #EDEFF2;
  }
  .services .faq .accordion {
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 375px) {
  .container {
    padding: 0 16px;
  }
  .slider {
    border-radius: 0px 0px 16px 16px;
  }
  .slider .container {
    padding: 80px 16px;
  }
  .slider .container > .row {
    flex-basis: 100%;
  }
  .slider h1 {
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    margin-bottom: 32px;
  }
  .slider .search .container-1 {
    width: 100%;
  }
  .slider .search .container-1 .icon {
    display: none;
  }
  .slider .search .container-1 input#search {
    padding: 12px !important;
    font-size: 16px;
    line-height: 24px;
  }
  .services {
    padding: 40px 0 80px 0;
  }
  .services .service-card {
    flex-basis: 100%;
    padding: 16px;
  }
  .services .service-card .title {
    padding: 0;
  }
  .services .service-card p {
    display: none;
  }
  .services > .container > .row > .col > .col > .service-card {
    padding: 16px;
  }
  .services > .container > .row > .col:nth-child(2) .service-card {
    padding: 16px;
  }
  .services > .container > .row > .col:nth-child(2) .service-card .accordion h3 {
    padding: 0;
  }
  .services > .container > .row > .col:nth-child(2) .row.panel.mobile.active {
    padding: 0;
    padding-top: 8px;
  }
  .services > .container > .row > .col:nth-child(2) .row.panel.mobile.active > a:last-child {
    padding-bottom: 0;
  }
  .services .faq .accordion {
    padding: 16px;
  }
  .services .faq .panel.active {
    padding: 0 16px;
  }
  footer ul {
    display: flex;
    flex-direction: column;
    margin-bottom: -24px;
  }
  footer ul li {
    display: block;
  }
  footer ul li a {
    display: block;
    padding-bottom: 24px;
  }
  footer .copyright {
    flex-direction: column;
  }
  footer .copyright a:first-child {
    order: 1;
    margin-top: 16px;
  }
}