header {
  border-bottom: 1px solid #EDEFF2;

  .row {
    align-items: center;
  }

  & > .container > .row {
    min-height: 88px;
    background: #FFFFFF;
  }

  & > .container > .row > .col {
    &:nth-child(1) {
      flex: 0 1 165px;
    }
  
    &:nth-child(2) {
      flex: 0 1 105px;
      max-width: 105px;
    }
  
    &:nth-child(3) {
      flex: 1 1 60%;
      padding-left: 85px;
    }
  
    &:nth-child(4) {
      flex: 0 1 50px;
    }
  }

  .map-city {
    background: $blue-light;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 94px;
    height: 33px;
    margin-left: 35px;
    margin-right: 76px;

    p {
      color: $blue-base;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      padding-left: 9px;
      padding-right: 2px;
    }
  }

  nav a {
    font-style: normal;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: $black-90;
    padding: 0 24px;
  }

  .signin {
    background: $blue-light;
    width: 106px;
    height: 40px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 20px;
      color: $blue-base;
      padding-right: 9px;
    }
  }




  #background {
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    -webkit-transition: all 0.45s ease;
    -moz-transition: all 0.45s ease;
    -ms-transition: all 0.45s ease;
    -o-transition: all 0.45s ease;
    transition: all 0.45s ease;
    z-index: 1;
    height: 0%;
    overflow: hidden;
    border-top: 1px solid #EDEFF2;
  }

  #background.expand {
    height: 100%;
  }

  #dropDown {
    
    max-height: 0;
    transition: all 0.2s ease-in;

    &.active {
      
      max-height: 500px;
      transition: all 0.2s ease-in;
    }

    .container {
      padding-top: 28px;
      padding-bottom: 24px;
      background-color: white;
      border-radius: 0px 0px 16px 16px;
    }

    .menu {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
      align-items: center;
      

      a {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        color: $black-90;
        padding: 12px 0;
      }
    }

    .map-city {
      margin: 0;
      margin-top: 28px;
      width: 100%;
      height: auto;
      padding: 12px;
    }
  }

}

.slider {
  border-radius: 0 0 30px 30px;
  background: url(/img/slider1.png) no-repeat right center, linear-gradient(180deg, rgba(251, 251, 253, 0) 0%, #FBFBFD 100%);
 
  .container {
    height: 450px;
    display: flex;
    align-items: center;
  }

  .row {
    flex-direction: column;
  }

  h1 {
    font-weight: 500;
    font-size: 44px;
    line-height: 56px;
    color: $black-90;
    margin-bottom: 40px;
  }

  .search-wrapper {

    .container-1 {
      width: 541px;
      height: 56px;
      vertical-align: middle;
      white-space: nowrap;
      position: relative;
      border-radius: 12px;
      background: #FFFFFF;
      border: 1px solid #EDEFF2;

      .icon {
        position: absolute;
        margin-left: 16px;
        margin-top: 16px;
        z-index: 1;
      }

      input.search{
        width: 100%;
        height: 54px;
        border: none;
        float: left;
        padding-left: 52px;
        border-radius: 12px;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $black-70;
      }

      input.search::-webkit-input-placeholder {
        color: #65737e;
      }

      input.search:-ms-input-placeholder {  
        color: #65737e;  
      }
    }
  }
}

.services {
  padding: 80px 0;

  & > .container > .row > .col:nth-child(1) {
    flex: 0 1 66.29%;
  }

  & > .container > .row > .col:nth-child(2) {
    flex: 0 1 33.71%;
    min-width: 33.71%;
    padding-left: 16px;

    .accordion {
      all: unset; 
      width: 100%;
      text-align: left;
    }
  }

  & > .container > .row > .col > .row > .service-card {
    margin-bottom: 16px;
  }

  & > .container > .row > .col > .row {
    flex-wrap: wrap;
    margin: 0 -8px;
  }

  & > .container > .row > .col > .service-card {
    margin: 0;
  }

  & > .container > .row > .col > .col > .service-card {
    opacity: 0.5;
    margin: 0;
    padding-bottom: 50px;
  }

  h2 {
    color: $black-90;
    font-style: normal;
    font-weight: 500;
    font-size: 34px;
    line-height: 40px;
    padding-bottom: 24px;
  }

  .service-card {
    background: $black-05;
    border-radius: $border-radius;
    padding: 24px;
    margin: 0px 8px;
    flex-basis: calc(100% / 2 - 16px);

    &:hover {
      background-color: $black-10;
      cursor: pointer;
    }

    &:not(:first-child) {
      opacity: 0.5;
    }
    
    .title {
      display: flex;
      align-items: center;
      padding-bottom: 8px;
    
      h3 {
        color: $black-90;
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 26px;
        padding-left: 16px;
      }
    }

    p {
      color: $black-70;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
    }
  }

  .another-services {

    .row {
      flex-direction: column;
    }

    .service-card {
      padding: 32px 16px 24px 16px;

      &:hover {
        background-color: #F9FAFB;
      }
    }

    .another-services-item  {
      display: flex;
      padding: 12px 16px;
      
      &:hover {
        background-color: #F3F4F6;
        border-radius: 8px;
        border: unset !important;
      }

      h3 {
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $black-90;
        padding-left: 16px;
      }
    }
  }

  .faq {
    padding-top: 80px;
    max-width: 66.29%;

    /* Style the buttons that are used to open and close the accordion panel */
    .accordion {
      border-radius: $border-radius;
      color: $black-90;
      cursor: pointer;
      padding: 24px;
      width: 100%;
      border: none;
      text-align: left;
      outline: none;
      transition: 0.4s;
      font-weight: 600;
      font-size: 20px;
      line-height: 26px;
      background-color: unset;
    }

    .accordion:after {
      float: right;
      margin-left: 0px;
      content: "";
      display: block;
      background: url(/img/icons/CaretDown.png) no-repeat;
      width: 24px;
      height: 24px;
    }
    
    .active:after {
      background: url(/img/icons/CaretUp.png) no-repeat;
    }

    .accordion-item {
      border-radius: $border-radius;
      background-color: #FAFBFD;
      margin-bottom: 8px;
    }
    
    .accordion-item:hover {
      background-color: $black-10;
    }

    .accordion-item:active, .accordion-item:focus, .accordion-item:target {
      background-color: #FAFBFD;
    }
    
    .panel {
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      padding: 0 24px;
      color: $black-90;
      max-height: 0;
      overflow: hidden;
      transition: all 0.2s ease-out;

      p {
        padding-bottom: 24px;
      }
    }

    .panel.active {
      max-height: 800px !important;
      height: fit-content;
    }
  }
}

footer {
  background-color: $black-90;
  padding: 32px 0;

  a {
    color: white;
  }

  nav {
    padding-bottom: 24px;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    width: 100%;
    margin-bottom: 24px;


    a {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 24px;
      margin-right: 24px;
    }
  }

  .copyright {
    justify-content: space-between;

    & > .col:first-child {

      @media (max-width: 768px) {
        display: flex;
        flex-direction: column;
        padding-bottom: 20px;
      }
    }

    a {
      margin-right: 24px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      opacity: 0.7;
    }
  }

  
  
}


.main-ajax-search {
  // display: none;
  position: fixed;
  z-index: 100;
  padding-top: 15vh;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  // overflow: auto;
  background-color: rgba(0, 0, 0, 0.6);

  .close {

    position: absolute;
    top: -50px;
    right: -50px;
    font-size: 35px;
    font-weight: bold;
  }

  .container {
    position: relative;
    border-radius: 16px;
    width: 652px;
    max-width: 100%;
  }

  h2 {
    font-weight: 600;
    font-size: 22px;
    line-height: 28px;
    color: $black-90;
    padding-bottom: 24px;
  }

  .search-wrapper {
    padding-bottom: 16px;
    max-width: 100%;
    width: 100%;

    .container-1 {
      width: 100%;
      background-color: white;

      .search {
        background: url("/img/icons/MagnifyingGlass.svg") no-repeat;
        padding-left: 45px;
        background-size: 20px;
        background-position: 15px 50%;
      }

    }
    form {
      position: relative;
      display: flex;
      flex-wrap: wrap;
      input.search {
        flex: 0 1 100% !important;
      }

      .help-block {
        padding-top: 4px;
        order: 3;
        // position: absolute;
        // bottom: -25px;
        color: $red-base;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        // display: none;

        @media (max-width: 768px) {
          order: unset;
          padding: 0;
          padding-bottom: 8px;
          margin-top: -10px;
        }
      }
    }
  }

  & > .container:last-child {

    & > .row {
      background-color: white;
      padding: 8px 0;
      border-radius: 12px;
      height: 538px;
      overflow: auto;
      flex-direction: column;

      h3 {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $black-70;
        padding-bottom: 20px;
        padding-left: 16px;
        padding-top: 8px;
      }

      .search-results {

        .result-item {
          border-bottom: 1px solid $black-15;
          display: block;

          &:hover {
            background-color: $blue-light;
          }

          .row {
            padding: 12px;
            padding-left: 16px;
            .col {

              &:first-child {
                img {
                  width: 40px;
                  height: 40px;
                  margin-right: 12px;
                }
              }

              &:last-child {
                p {
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 24px;
                }

                span {
                  color: $black-60;
                  font-weight: 400;
                  font-size: 14px;
                  line-height: 20px;
                }
              }
            }
          }
        }
      }
    }
  }
}