.page-payment {
  background-color: $black-05;


  .container {
    max-width: 652px;
  }

  header {

    & > .container > .row {
      background-color: unset;
      justify-content: space-between;
    }
  }

  & > .container {
    // max-width: 430px;
    background-color: white;
    box-shadow: 0px 12px 32px rgba(77, 77, 77, 0.02);
    border-radius: 16px;
    padding: 32px;
    padding-top: 40px;
    margin-top: 80px;

    & > div:first-child {
      text-align: center;
      padding-bottom: 40px;
    }

    .notice {
      border-radius: 8px;
      background-color: $black-05;
      padding: 12px;
      text-align: left;
      margin-bottom: 16px;

      & > .col:first-child {
        padding-right: 8px;
      }

      p {
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        color: $black-100;
      }

      a {
        color: $blue-base;
        text-decoration: underline;
        display: block;
      }
      
      img {
        margin: 2px;
      }
    }

    .document {
      position: relative;

      & > div:first-child {
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        color: $black-70;
        justify-content: space-between;
        align-items: center;
        padding: 12px;
        border: 1px solid #EDEFF2;
        border-radius: 8px;
        cursor: pointer;
      }

      .btn {
        width: 100%;
        margin-top: 16px;
      }

      .document-select {
        position: absolute;
        width: 100%;
        padding: 8px;
        margin-top: 4px;
        /* White */
        background: #FFFFFF;
        /* Black-15 */
        border: 1px solid $black-15;
        /* Shadow layer */
        box-shadow: 0px 16px 40px rgba(51, 56, 68, 0.16);
        border-radius: 8px;
        display: none;

        a {
          display: block;
          text-align: left;
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: $black-90;
          padding: 8px;
        }
      }

      .document-info {
        padding-top: 16px;

        input {
          background: #FFFFFF;
          border: 1px solid $black-15;
          border-radius: 8px;
          padding: 12px;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: $black-70;
          width: 100%;

          &::-webkit-input-placeholder { /* WebKit, Blink, Edge */
            color:    $black-70;
          }
          &:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
            color:    $black-70;
            opacity:  1;
          }
          &::-moz-placeholder { /* Mozilla Firefox 19+ */
            color:    $black-70;
            opacity:  1;
          }
          &:-ms-input-placeholder { /* Internet Explorer 10-11 */
            color:    $black-70;
          }
          &::-ms-input-placeholder { /* Microsoft Edge */
            color:    $black-70;
          }
          
          &::placeholder { /* Most modern browsers support this now. */
            color:    $black-70;
          }
        }
      }
    }
  }

  #payment-window {
    background-color: white;
    box-shadow: unset;
    border-radius: 0;
    padding: 0;
    border-radius: 16px;

    .payment-info {
      position: relative;
      padding: 32px;
      border-bottom: 1px solid $black-10;
      
      & > .row {
        h1 {
          font-weight: 600;
          font-size: 26px;
          line-height: 32px;
          color: $black-90;
        }

        span {
          font-weight: 600;
          font-size: 34px;
          line-height: 40px;
          color: $black-90;
          padding: 16px 0;
        }

        a {
          color: $black-60;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          display: flex;
          align-items: center;
          
        }

        .payment-details {
          padding-top: 32px;
          width: 100%;

          span {
            color: $black-70;
            font-weight: 500;
            font-size: 14px;
            line-height: 20px;
            margin-bottom: 2px;
            padding: 0;
            display: block;
          }

          p {
            color: $black-90;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;

            &:nth-child(2) {
              padding-bottom: 12px;
            }
          }

          .show-credentails {
            margin-top: 32px;
            background-color: $black-05;
            border: 1px solid $black-10;
            border-radius: 8px;
            padding: 16px 20px;
            flex-direction: column;
            
            // justify-content: space-between;
            // align-content: center;
            // flex-wrap: wrap;

            .row {
              justify-content: space-between;
              align-content: center;
              align-items: center;
              flex-wrap: wrap;
              width: 100%;



              .col {
                display: flex;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
                color: $black-90;

                img {
                  padding-right: 15px;
                }
              }

              & > .col:last-child {
                img{
                  padding: 0;
                }
              }
            }

            .requisites {
              display: none;
              width: 100%;
              border-top: 1px solid $black-15;
              margin-top: 16px;
              padding-top: 16px;

              .item {

                &:last-child {
                  p {
                    padding: 0;
                  }
                }
                span {
                  color: $black-70;
                  font-weight: 500;
                  font-size: 14px;
                  line-height: 20px;
                }

                p {
                  color: $black-90;
                  font-weight: 400;
                  font-size: 16px;
                  line-height: 24px;
                }
              }
            }
          }
          
        }
      }

      .detailsHover {
        cursor: pointer;
      }

      .detailsHover:hover ~ .modal-details {
        display: block;  
      }
    }

    .payment-body {
      padding: 32px;

      .content {

        .row:first-child {
          padding-bottom: 24px;
          p {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
            color: $black-70;
            padding-right: 6px;
          }

          .itooltip {
            position: relative;
            padding-top: 2px;

            &:hover .tooltip {
              display: block !important;
            }
          }

          .tooltip {
            display: none;
            position: absolute;
            background: #FFFFFF;
            box-shadow: 0px 8px 32px rgba(12, 16, 24, 0.12);
            border-radius: 12px;
            padding: 16px;
            z-index: 222;
            width: 288px;
            left: -125px;
            top: 25px;
          }
        }

        .input:nth-child(2) {
          font-weight: 500;
          font-size: 14px;
          line-height: 20px;
          color: $black-70;

          label {
            display: block;
            padding-bottom: 4px;
          }

          input {
            background: #FFFFFF;
            border: 1px solid $black-15;
            border-radius: 8px;
            padding: 12px 16px;
            font-weight: 400;
            font-size: 18px;
            line-height: 24px;
            color: $black-90;

            &::placeholder {
              color: $black-90;
              font-weight: 400;
              font-size: 18px;
              line-height: 24px;
            }
          }
        }

        .custom-checkbox {
          position: absolute;
          z-index: -1;
          opacity: 0;
        }

        .custom-checkbox+label {
          display: inline-flex;
          align-items: center;
          user-select: none;
        }
        .custom-checkbox+label::before {
          content: '';
          display: inline-block;
          width: 18px;
          height: 18px;
          flex-shrink: 0;
          flex-grow: 0;
          border: 1px solid #adb5bd;
          border-radius: 2px;
          margin-right: 0.5em;
          background-repeat: no-repeat;
          background-position: center center;
          background-size: 50% 50%;
        }

        .custom-checkbox:checked+label::before {
          border-color: $blue-base;
          background-color: $blue-base;
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }

        .input.checkbox {
          padding-top: 20px;
          padding-bottom: 35px;

          label {
            font-weight: 400;
            font-size: 14px;
            line-height: 20px;
          }

          a {
            color: $blue-base;
          }
        }

        .row:last-child {
          margin: 0 -8px;

          .col {
            width: 50%;
            margin: 0 8px;

            a {
              color: white;
              display: flex;
              padding: 12px 0;
              background: #1D1346;
              border-radius: 8px;
              justify-content: center;
              align-items: center;
              height: 56px;

              img {
                padding-right: 15px;
              }
            }

            &:last-child a {
              display: flex;
              background: linear-gradient(90deg, #69E200 0%, #24DF64 53.65%, #2ED2C4 100%);
              border-radius: 8px;
              width: 100%;
              position: relative;
              z-index: 2;
              padding: 12px 0;
              text-align: center;

              &::before {
                content: '&nbsp;';
                display: block;
                color: rgba(240, 240, 240, 0);
                position: absolute;
                background: linear-gradient(90deg, #69E200 0%, #24DF64 53.65%, #2ED2C4 100%);
                filter: blur(8px);
                border-radius: 4px;
                width: 100%;
                height: 100%;
                top: 0;
                z-index: -1;
              }
            }
          }
        }
      }

    }

    .no-comission {
      background: #F3F4F6;
      border-radius: 8px 8px 0px 0px;

      .row {
        justify-content: center;
        align-items: center;
        padding: 12px 0;
      }

      p {
        font-weight: 500;
        font-size: 14px;
        line-height: 20px;
        color: $black-90;
        padding-left: 5px;
      }
    }

    .qr-code {
      padding: 32px;
      background: #FFFFFF;
      border-radius: 0 0 16px 16px;  
      margin-bottom: 16px;

      .row {
        justify-content: center;
        align-items: center;
        flex-direction: column;

        h2 {
          font-weight: 500;
          font-size: 18px;
          line-height: 24px;
          color: $black-90;
        }

        img {
          padding: 24px;
        }

        span {
          color: $black-60;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
        }
      }
    }

    & > .row > .content:nth-child(2) {
      background: #FFFFFF;
      border-radius: 16px;  
      padding: 32px;
      margin-bottom: 25px;

      h2 {
        color: $black-90;
        font-weight: 500;
        font-size: 18px;
        line-height: 24px;
        padding-bottom: 24px;
        text-align: center;
      }

      .row {
        flex-direction: column;
        background: #F6F6F6;
        border-radius: 8px;

        a {
          display: block;
          background: linear-gradient(90deg, #69E200 0%, #24DF64 53.65%, #2ED2C4 100%);
          border-radius: 8px;
          width: 100%;
          position: relative;
          z-index: 2;
          padding: 12px 0;
          text-align: center;

          &::before {
            content: '&nbsp;';
            display: block;
            color: rgba(240, 240, 240, 0);
            position: absolute;
            background: linear-gradient(90deg, #69E200 0%, #24DF64 53.65%, #2ED2C4 100%);
            filter: blur(8px);
            border-radius: 4px;
            width: 100%;
            height: 100%;
            top: 0;
            z-index: -1;
          }
        }

        span {
          padding: 8px 0;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
          color: $black-70;
          text-align: center;
        }
      }
    }

    .how-to-pay {
      display: none;
      position: fixed;
      z-index: 100;
      padding-top: 30vh;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      overflow: auto;
      background-color: rgba(0, 0, 0, 0.6);

      .close {

        position: absolute;
        top: -50px;
        right: -50px;
        font-size: 35px;
        font-weight: bold;
      }

      .container {
        position: relative;
        padding: 34px 32px;
        background-color: white;
        border-radius: 16px;
        width: 430px;
      }

      h2 {
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
        color: $black-90;
        padding-bottom: 24px;
      }

      ol {
        padding-left: 25px;
        margin: 0;
        list-style: none;
        counter-reset: num;

        li {
          display: list-item;
          text-align-last: left;
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: $black-90;
          padding: 0 0 10px 0;
          position: relative;

          &:before {
            content: counter(num) '.'; 
            counter-increment: num;
            display: inline-block;	
            position: absolute;
            top: 0px;
            left: -26px;
            width: 20px;    
            color: $black-90;
            text-align: right;
            font-weight: 600;
          }
        }
      }
    }

    #myModalPayment {
      // display: block;

      .no-comission {
        border-radius: 16px 16px 0 0;
      }

      .container {
        padding: 0;

        .body {
          padding: 32px;
          text-align: center;
          
          .row {
            flex-direction: column;
            align-items: center;

            img {
              width: fit-content;
              text-align: center;
              margin-bottom: 24px;
            }

            span {
              color: $black-60;
              font-weight: 400;
              font-size: 16px;
              line-height: 24px;
            }
          }

          h2 {
            color: $black-90;
            font-weight: 500;
            font-size: 18px;
            line-height: 24px;
            text-align: center;
            padding-bottom: 24px;
          }
        }
      }
    }
  }

  .bottom-buttons {
    padding-top: 24px;
    padding-bottom: 50px;
    
    .container {
      padding: 32px;
      background: #FFFFFF;
      border-radius: 16px;

      .row {
        margin: 0 -8px;
        padding-bottom: 16px;

        a {
          margin: 0 8px;
          width: 50%;
          display: flex;
          align-items: center;
          align-content: center;
          justify-content: center;
          padding: 12px 0;
          border-radius: 8px;
          color: $blue-base;
          background-color: $blue-light;

          img {
            padding-right: 10px;
          }
        }
      }

      & > a {
        width: 100%;
        display: flex;
        align-items: center;
        align-content: center;
        justify-content: center;
        padding: 12px 0;
        border-radius: 8px;
        color: #FF8C00;
        background-color: rgba(255, 140, 0, 0.1);

        img {
          padding-right: 10px;
        }
      }
    }

  }

  .bookmarks {
    padding-bottom: 80px;
    .container {
      max-width: 407px;
      .row {
        text-align: center;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        align-content: center;

        p {
          font-weight: 400;
          font-size: 16px;
          line-height: 24px;
          color: $blue-base;
          padding-bottom: 4px;
          padding-top: 5px;
        }

        span {
          color: $black-70;
          font-weight: 400;
          font-size: 14px;
          line-height: 20px;
        }
      }
    }
  }

  .success-pay {
    max-width: 430px;
    padding: 80px 0;
    margin: 0 auto;

    & > .container {
      padding: 32px;
      background-color: white;
      border-radius: 24px;
      margin-bottom: 16px;

      &:first-child {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;

        img {
          margin-bottom: 20px;
          width: fit-content;
        }

        h2 {
          font-weight: 600;
          font-size: 22px;
          line-height: 28px;
        }
      }

      &:nth-child(2) {

        h2 {
          text-align: center;
          font-weight: 600;
          font-size: 18px;
          line-height: 24px;
          padding-bottom: 32px;
        }

        .details {

          .item:first-child .col:last-child {
            display: flex;
            justify-content: space-between;
            padding-left: 20%;
          }

          .item {
            display: flex;
            border-bottom: 1px solid $black-15;
            padding: 8px 0;
            
            .col {
              
              &:first-child {
                width: 30%;
              }

              &:last-child {
                width: 70%;
              }

              span {
                color: $black-80;
                font-weight: 400;
                font-size: 16px;
                line-height: 24px;
              }

              &:last-child {
                // display: flex;
                // justify-content: space-between;
                text-align: right;
                
                span {
                  color: $black-90;
                }
              }
            }

          }
        }


        p {
          padding-top: 32px;
          text-align: right;
          font-weight: 700;
          font-size: 34px;
          line-height: 40px;
        }
      }

    }
  }

  .error-pay {
    max-width: 430px;
    padding: 80px 0;
    margin: 0 auto;

    & > .container {
      padding: 32px;
      background-color: white;
      border-radius: 24px;
      margin-bottom: 16px;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;

      h2 {
        padding-top: 20px;
        padding-bottom: 32px;
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
      }

      a {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        color: $blue-base;
        background-color: $blue-light;
        border-radius: 12px;
        padding: 13px 20px;
      }
    }
  }

  .go-back {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: $black-60;
    display: flex;

    img {
      margin-right: 7px;
    }
  }
}




@media (max-width: 768px) {

  .page-payment {

    header {
      border: unset;

      img {
        width: 100%;
      }
    }
    // background-color: white;

    & > .container {
      padding: 0;
    }

    #payment-window {
      padding: 0;
      padding-bottom: 50px;
      margin-top: 50px;

      h1 {
        font-weight: 600;
        font-size: 22px;
        line-height: 28px;
      }

      .payment-details {
        padding-top: 24px;
      }

      .payment-info {
        padding: 24px;
      }


      .modal-details {
        top: 155px !important;
        z-index: 5;
      }


      .mobile {


        .row {
          flex-direction: column;
          background: #F6F6F6;
          border-radius: 8px;

          &:first-child {
            margin-bottom: 16px;
          }
          a.SBP {
            background: #1D1346;
            border-radius: 8px;
            text-align: center;
            color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 56px;
            font-weight: bold;
          }
  
          a.sber-pay {
            display: block;
            background: linear-gradient(90deg, #69E200 0%, #24DF64 53.65%, #2ED2C4 100%);
            border-radius: 8px;
            width: 100%;
            position: relative;
            z-index: 2;
            padding: 12px 0;
            text-align: center;
  
            &::before {
              content: '&nbsp;';
              display: block;
              color: rgba(240, 240, 240, 0);
              position: absolute;
              background: linear-gradient(90deg, #69E200 0%, #24DF64 53.65%, #2ED2C4 100%);
              filter: blur(8px);
              border-radius: 4px;
              width: 100%;
              height: 100%;
              top: 0;
              z-index: -1;
            }
          }
  
          span {
            padding: 8px 0;
            font-weight: 500;
            font-size: 16px;
            line-height: 24px;
            color: $black-80;
            text-align: center;
          }
        }
        
      }


      .payment-body {
        padding: 24px;

        .input {

          input[type='number'] {
            width: 100%;
          }
        }
      }

      .row.mobile.payment {
        padding: 0 24px;
      }

      .go-back {
        margin-top: 24px;
      }


    }

    .bottom-buttons {
      .container {
        padding: 24px;
        .row {
          flex-direction: column;
          margin: 0;
          a {
            width: 100%;
            margin: 0;
            
            &:first-child {
              
              margin-bottom: 16px;
            }
          }
        }

        & > a {
          width: 100%;
          padding: 12px 10px;
        }
      }
    }

    .bookmarks {
      text-align: center;
    }

    .success-pay {
      padding: 0;
      padding-bottom: 40px;

      & > .container {
        padding: 24px;
      }

      & > .container:nth-child(2) p {
        text-align-last: left;
      }
    }

    .go-back {
      padding-left: 24px;
    }
  }
}



#payment-window, .bookmarks, .bottom-buttons {
  // display: none !important;
}