$blue-light: #F0F5FF;
$blue-base: #336FEE;
$black-100: #17181C;
$black-90: #333844;
$black-80: #5C6170;
$black-70: #818798;
$black-60: #ABAFBA;
$black-30: #E5E7EB;
$black-20: #EAECF0;
$black-15: #EDEFF2;
$black-10: #F3F4F6;
$black-05: #F9FAFB;
$red-base: #FB5A4F;

$border-radius: 12px;